.heading{
    font-size: 45px;
    width: 100%;
    margin: 0%;
}
body{
    background-size: cover;
}
.note{
    font-size: 25px;
    color: black;
}
canvas{
    border: 5px solid white;
    border-radius: 20px;
}
.song_name{
    font-size: 30px;
    height: auto;
}